{% extends "base.html" %}  {# Указывает, что данный шаблон наследует базовый шаблон "base.html" #}
{% block content %}  {# Начало блока контента, который будет вставлен в базовый шаблон #}
    <h1>Вход</h1>  {# Заголовок страницы #}
    <form method="POST">  {# Начало формы, которая будет отправлена методом POST #}
        {{ form.hidden_tag() }}  {# Вставка скрытого поля для защиты от CSRF атак #}
        <div>
            {{ form.email.label }}<br>  {# Отображение метки для поля ввода электронной почты #}
            {{ form.email(size=32) }}  {# Поле ввода для электронной почты с ограничением по размеру #}
            {% for error in form.email.errors %}  {# Проверка на наличие ошибок в поле email #}
                <span style="color: red;">[{{ error }}]</span>  {# Отображение ошибок, если они есть #}
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }}<br>  {# Отображение метки для поля ввода пароля #}
            {{ form.password(size=32) }}  {# Поле ввода для пароля с ограничением по размеру #}
            {% for error in form.password.errors %}  {# Проверка на наличие ошибок в поле пароля #}
                <span style="color: red;">[{{ error }}]</span>  {# Отображение ошибок, если они есть #}
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}  {# Кнопка отправки формы с классом для стилизации #}
        </div>
    </form>
{% endblock %}  {# Конец блока контента #}
