/* Определение шрифта Tektur с различными начертаниями */
@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tektur';
    src: url('fonts/Tektur-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/* Сброс стандартных стилей для всех элементов */
* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Tektur', sans-serif;
}

/* Основные стили для body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

/* Стили для шапки сайта */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #9E11B8;
    padding: 5px 0;
    text-decoration: none;
    top: 0;
}

/* Стили для логотипа/иконки */
.icon {
    margin-left: 100px;
    width: auto;
    height: auto;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.05);
}

/* Стили для навигационного меню */
nav {
    display: flex;
    gap: 50px;
    margin-right: 100px;
    font-size: 18px;
}

nav a {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease;
    transition: transform 0.3s ease;
}

nav a:hover {
    transform: scale(1.02);
    opacity: 0.8;
}

/* Стили для подвала сайта */
footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 5px 0;
    bottom: 0;
    background-color: #9E11B8;
}

footer p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.footer-about {
    margin-left: 100px;
}

.footer-connect {
    margin-right: 100px;
}

/* Основное содержимое страницы */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}

/* Стили для основного блока */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DD9FED;
    border-radius: 44px;
    width: 100%;
    height: auto;
    color: #fff;
    opacity: 0;
    animation: anim1 2s ease-out forwards;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    animation: anim2 2.5s ease forwards;
}

.hero-text h1 {
    font-size: 64px;
}

.main-description {
    margin-top: 17px;
    font-size: 36px;
}

.additional-info {
    margin-top: 52px;
    font-size: 18px;
}

/* Стили для кнопок призыва к действию */
.cta-buttons {
    display: flex;
    justify-content: space-between;
    gap: 107px;
    margin-top: 28px;
    margin-bottom: 56px;
    animation: anim2 2.5s ease forwards;
}

.btn {
    background-color: #750091;
    width: auto;
    height: auto;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 12px;
    font-size: 30px;
    font-weight: 500;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #9700BB;
}

/* Стили для блока с карточками */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: anim2 2s ease forwards;
}

.features h2 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 32px;
    animation: anim2 4s ease forwards;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-top: 28px;
    width: 100%;
    opacity: 0;
    animation: anim1 2s ease-out forwards;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #EAEAEA;
    width: 30%;
    height: 200px;
    border-radius: 44px;
    padding: 20px 40px;
    transform: scale(1);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-item:hover {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-item h3 {
    font-weight: 500;
    font-size: 28px;
    margin-top: 20px;
}

.feature-item p {
    margin: auto 0;
    font-size: 18px;
}

/* Стили для формы входа */
.hero-ent {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    width: auto;
    height: auto;
    background-color: #DD9FED;
    padding: 30px;
    border-radius: 44px;
}

.hero-ent h1 {
    margin-bottom: 40px;
}

.hero-ent form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

input#submit.btn.btn-primary {
    margin-top: 10px;
    height: auto;
    width: auto;
    background-color: #750091;
}

input#submit.btn.btn-primary:hover {
    background-color: #9700BB;
}

.hero-ent form input {
    width: 620px;
    height: 25px;
    padding: 5px;
    border-radius: 12px;
    margin-bottom: 5px;
    background-color: #EAEAEA;
}

/* Стили для уведомлений */
.alert {
    width: auto;
    height: auto;
    background-color: #FF0101;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    font-weight: 700;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.alert:hover {
    transform: scale(1.05);
}

.alert-success {
    background-color: #51FF00;
}

/* Стили для выбора валюты */
.currency-choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    animation: anim1 2s ease-out forwards;
}

.currency-choice h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.currency-set {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DD9FED;
    width: auto;
    height: auto;
    padding: 38px 83px;
    margin-bottom: 41px;
    border-radius: 44px;
}

.currency-set form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-set select {
    text-align: center;
    width: auto;
    height: auto;
    padding: 20px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    border-radius: 20px;
}

.currency-set input {
    height: auto;
    padding: 15px 0;
    width: 100%;
    border-radius: 20px;
    font-size: 24px;
    font-weight: 500;
    background-color: #750091;
    color: #fff;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.currency-set input:hover {
    transform: scale(1.05);
    background-color: #9700BB;
}

/* Стили для созданных форм пользователей */
.ur-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.ur-forms h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.ur-forms p {
    font-size: 36px;
    font-weight: 500;
}

.ur-forms ul p {
    font-size: 24px;
}

.ur-forms ul li {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: auto;
    height: auto;
    border-radius: 22px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #DD9FED;
    color: #fff;
    gap: 5px;
}

.ur-forms form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
}

.ur-forms input {
    width: auto;
    height: auto;
    border: none;
    font-size: 18px;
    font-weight: 600;
    background-color: #750091;
    color: #fff;
    border-radius: 12px;
    padding: 10px 20px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.ur-forms input:hover {
    transform: scale(1.05);
    background-color: #9700BB;
}

/* Стили для блока создания формы */
.create-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DD9FED;
    color: #fff;
    width: auto;
    height: auto;
    border-radius: 44px;
    padding: 20px 40px;
}

.create-content h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}

.create-content form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.create-content form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form select,
form input {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    border-radius: 12px;
}

form textarea {
    width: 100%;
    height: auto;
    padding: 5px 0;
    border-radius: 12px;
}

form select,
form input,
form textarea {
    font-size: 18px;
    font-weight: 500;
}

form input#departure_time.form-control,
form input#arrival_time.form-control {
    text-align: center;
    width: 50%;
    height: auto;
    padding: 10px 0;
    font-size: 24px;
    font-weight: 600;
}

/* Анимации */
@keyframes anim1 {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes anim2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
