{% extends "base.html" %}
{% block content %}
    <div class="hero">
        <div class="hero-text">
            <h1>FAI</h1>
            <p class="main-description">Ваш надежный помощник в планировании путешествий.</p>
            <p class="additional-info">Создавайте маршруты, сохраняйте информацию о рейсах, отелях и многом другом. Путешествуйте с комфортом и уверенностью!</p>
        </div>
        <div class="cta-buttons">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Личный кабинет</a>
                <a href="{{ url_for('create_form') }}" class="btn btn-secondary">Создать форму</a>
            {% else %}
                <a href="{{ url_for('register') }}" class="btn btn-primary">Регистрация</a>
                <a href="{{ url_for('login') }}" class="btn btn-secondary">Вход</a>
            {% endif %}

        </div>
    </div>
    <div class="features">
        <h2>Почему выбирают нас?</h2>
        <div class="feature-list">
            <div class="feature-item">
                <h3>🚀 Быстро</h3>
                <p>Создавайте маршруты за считанные минуты.</p>
            </div>
            <div class="feature-item">
                <h3>📅 Удобно</h3>
                <p>Храните всю информацию о поездках в одном месте.</p>
            </div>
            <div class="feature-item">
                <h3>🌍 Надежно</h3>
                <p>Ваши данные всегда под защитой.</p>
            </div>
        </div>
    </div>
{% endblock %}